<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Chelsea FC</h1>
    <h2>Official Supporters club (Oyo state chapter)</h2>
    <p><em>The reigning European and World champions!</em></p>
    <p>Name: Chelsea FC</p>
    <p>Nickname: The blues</p>
    <p>Country: England</p>
    
    <h2>Team sheets</h2>
    <h3>GK:</h3>
    <ul>
        <li>Mendy Edouard</li>
        <li>Kepa Arrizabalaga</li>
        <li>Bertinelli</li>
    </ul>  
   
</body>
</html>